In [36]:
# Dependencies
import pandas as pd

In [37]:
# Name of the CSV file
income_file =  "Resources/us_income_zipcode.csv"

In [38]:
# The correct encoding must be used to read the CSV
all_income_df = pd.read_csv(income_file)

In [4]:
#preview 
#all_income_df5 = all_income_df.head()
#print(all_income_df5)

   ZIP       Geography Geographic Area Name  Households  \
0  601  860Z200US00601          ZCTA5 00601      5397.0
1  602  860Z200US00602          ZCTA5 00602     12858.0
2  603  860Z200US00603          ZCTA5 00603     19295.0
3  606  860Z200US00606          ZCTA5 00606      1968.0
4  610  860Z200US00610          ZCTA5 00610      8934.0

   Households Margin of Error  Households Less Than $10,000  \
0                       264.0                          33.2
1                       448.0                          27.1
2                       555.0                          32.1
3                       171.0                          28.4
4                       372.0                          20.5

   Households Less Than $10,000 Margin of Error  \
0                                           4.4
1                                           2.9
2                                           2.5
3                                           5.5
4                                           2.5

   Households $10,000 to $14,999  \
0                           15.7
1                           12.7
2                           13.4
3                           13.3
4                           13.2

   Households $10,000 to $14,999 Margin of Error  \
0                                            2.9
1                                            2.1
2                                            1.6
3                                            4.4
4                                            2.5

   Households $15,000 to $24,999  ...  \
0                           23.9  ...
1                           20.5  ...
2                           17.2  ...
3                           23.3  ...
4                           23.3  ...

   Nonfamily Households $150,000 to $199,999  \
0                                        0.0
1                                        0.0
2                                        0.6
3                                        0.0
4                                        0.0

   Nonfamily Households $150,000 to $199,999 Margin of Error  \
0                                                2.8
1                                                1.3
2                                                0.6
3                                                7.5
4                                                1.8

   Nonfamily Households $200,000 or More  \
0                                    0.0
1                                    0.0
2                                    0.2
3                                    0.0
4                                    0.0

   Nonfamily Households $200,000 or More Margin of Error  \
0                                                2.8
1                                                1.3
2                                                0.4
3                                                7.5
4                                                1.8

   Nonfamily Households Median Income (Dollars)  \
0                                        9386.0
1                                       11242.0
2                                       10639.0
3                                       15849.0
4                                       12832.0

   Nonfamily Households Median Income (Dollars) Margin of Error  \
0                                             1472.0
1                                             1993.0
2                                              844.0
3                                             3067.0
4                                             2405.0

   Nonfamily Households Mean Income (Dollars)  \
0                                     13044.0
1                                     16419.0
2                                     16824.0
3                                     16312.0
4                                     16756.0

   Nonfamily Households Mean Income (Dollars) Margin of Error  \
0                                             1949.0
1                                             2310.0
2                                             2217.0
3                                             2662.0
4                                             1740.0

   Nonfamily Households Nonfamily Income in the Past 12 Months  Year
0                                               15.0            2021
1                                               20.1            2021
2                                               34.9            2021
3                                               13.0            2021
4                                               14.5            2021

[5 rows x 111 columns]

In [39]:
# Create a DataFrame from a list of dictionaries.
columns_to_keep = ['ZIP', 'Households', 'Households Median Income (Dollars)', 'Households Mean Income (Dollars)']
zip_income_df = all_income_df[columns_to_keep]

In [6]:
#Preview
#zip_income_df5 = zip_income_df.head()
#print(zip_income_df5)

   ZIP  Households  Households Median Income (Dollars)  \
0  601      5397.0                             15292.0
1  602     12858.0                             18716.0
2  603     19295.0                             16789.0
3  606      1968.0                             18835.0
4  610      8934.0                             21239.0

   Households Mean Income (Dollars)
0                           19468.0
1                           27778.0
2                           29102.0
3                           22236.0
4                           29555.0

In [40]:
# Drop all rows with missing information
zip_income_df = zip_income_df.dropna(how='any')

In [41]:
# The Zip column is the wrong data type. It should be a string for Zip & Households & interger for Income.
zip_income_df.dtypes

ZIP                                     int64
Households                            float64
Households Median Income (Dollars)    float64
Households Mean Income (Dollars)      float64
dtype: object

In [43]:
# Use df.astype() method to convert the datatype of the Zip & household columns to string
zip_income_df = zip_income_df.astype({"ZIP":str})

# Use df.astype() method to convert the datatype of the income columns to interger
columns_to_convert_int = ['Households Median Income (Dollars)', 'Households Mean Income (Dollars)']
zip_income_df[columns_to_convert_int] = zip_income_df[columns_to_convert_int].astype(int)

In [44]:
# confirm changes to string & interger.
zip_income_df.dtypes

ZIP                                    object
Households                            float64
Households Median Income (Dollars)      int32
Households Mean Income (Dollars)        int32
dtype: object

In [45]:
# We can calculate individual aggregate functions for Household column
print('Households:')
print(f"The count is {zip_income_df['Households'].count()}")
print(f"The minimum is {zip_income_df['Households'].min()}")
print(f"The maximum is {zip_income_df['Households'].max()}")

Households:
The count is 343940
The minimum is 3.0
The maximum is 43607.0

In [46]:
# We can calculate individual aggregate functions for Households Median Income (Dollars) column
print('Households Median Income (Dollars)')
print(f"The count is {zip_income_df['Households Median Income (Dollars)'].count()}")
print(f"The minimum is {zip_income_df['Households Median Income (Dollars)'].min()}")
print(f"The maximum is {zip_income_df['Households Median Income (Dollars)'].max()}")

Households Median Income (Dollars)
The count is 343940
The minimum is 2500
The maximum is 250000

In [47]:
# We can calculate individual aggregate functions for ouseholds Mean Income (Dollars) column
print('Households:')
print(f"The count is {zip_income_df['Households Mean Income (Dollars)'].count()}")
print(f"The minimum is {zip_income_df['Households Mean Income (Dollars)'].min()}")
print(f"The maximum is {zip_income_df['Households Mean Income (Dollars)'].max()}")

Households:
The count is 343940
The minimum is 1178
The maximum is 1142129

In [49]:
##Sorting data so that highest median income shows at top
sorted_median_income_df = zip_income_df.sort_values(by='Households Median Income (Dollars)', ascending=True)
sorted_median_income_df.head(20)

,ZIP,Households,Households Median Income (Dollars),Households Mean Income (Dollars)
344459,38731,75.0,2500,28132
277139,35774,36.0,2500,15656
269557,13834,57.0,2500,9535
7086,22904,26.0,2500,98912
238653,19717,29.0,2500,4507
330380,95981,105.0,2500,17867
23693,67232,254.0,2500,70565
265293,99144,20.0,2500,46010
363895,97331,40.0,2500,1895
223546,70340,88.0,2500,13103
93924,77993,35.0,2500,51100
74574,24861,50.0,2500,15120
43045,29331,82.0,2500,13365
239663,23401,111.0,2500,18236
338024,19717,128.0,2500,2635
37070,12471,307.0,2500,30010
298171,98536,68.0,2500,31093
293530,80432,56.0,2500,16527
331291,98536,68.0,2500,28943
338648,21930,58.0,2500,57474

In [50]:
#Sorting data so that highest mean income shows at top
sorted_mean_income_df = zip_income_df.sort_values(by='Households Mean Income (Dollars)', ascending=True)
sorted_mean_income_df.head(20)

,ZIP,Households,Households Median Income (Dollars),Households Mean Income (Dollars)
242553,31084,36.0,2500,1178
363895,97331,40.0,2500,1895
275673,31084,37.0,2500,2257
338024,19717,128.0,2500,2635
308793,31084,35.0,2500,2940
271773,19717,78.0,2500,3046
37863,14302,148.0,2500,3208
275046,29634,60.0,3404,3308
341180,29424,68.0,2500,3469
308166,29634,47.0,3412,3500
175686,29634,86.0,3333,3594
41444,24846,50.0,2500,3686
208806,29634,99.0,3479,3923
241926,29634,91.0,3449,3975
40762,22904,60.0,2500,4082
4132,14302,126.0,2500,4240
304893,19717,219.0,2823,4464
238653,19717,29.0,2500,4507
352985,61625,39.0,3688,4551
297631,97331,52.0,2500,4587

In [51]:
#Sorting data so only "Upper income" household Median shows. Upper income is  $149,132
threshold = 149132
upper_median_df = zip_income_df[zip_income_df['Households Median Income (Dollars)'] > threshold]
upper_median_df.head(20)

,ZIP,Households,Households Median Income (Dollars),Households Mean Income (Dollars)
277,1450,3820.0,169643,190596
278,1451,1668.0,174444,218896
348,1718,228.0,173000,182484
354,1740,1853.0,167132,198846
355,1741,1800.0,216000,264092
356,1742,6357.0,168934,236746
360,1748,6556.0,179192,241152
367,1770,1515.0,218906,274072
368,1772,3364.0,173056,235694
369,1773,2123.0,172891,281208
371,1776,6208.0,217847,260883
372,1778,4838.0,203125,249098
375,1810,13235.0,155252,199008
379,1827,1136.0,177803,186363
402,1886,8515.0,161076,178784
404,1890,8149.0,184844,252976
414,1921,2905.0,186899,239851
415,1922,1196.0,193667,206556
422,1944,2080.0,193279,216682
423,1945,8075.0,154049,205561

In [53]:
#Sorting data so only "Upper income" household Mean shows. Upper income is  $149,132
threshold = 149132
upper_mean_df = zip_income_df[zip_income_df['Households Mean Income (Dollars)'] > threshold]
upper_mean_df.head(20)

,ZIP,Households,Households Median Income (Dollars),Households Mean Income (Dollars)
197,1106,6015.0,129339,170869
224,1245,355.0,101488,154675
230,1257,1013.0,64531,164304
273,1434,315.0,140391,161240
277,1450,3820.0,169643,190596
278,1451,1668.0,174444,218896
281,1460,3504.0,140511,168648
293,1505,1834.0,127833,156494
300,1519,2652.0,128824,162152
310,1532,5662.0,148010,203358
316,1541,1298.0,148438,166029
326,1568,2651.0,141250,169167
330,1581,7980.0,118185,158295
334,1590,3332.0,123542,153366
345,1612,1588.0,123958,149502
346,1701,13189.0,120811,149436
348,1718,228.0,173000,182484
349,1719,2180.0,136875,171491
350,1720,8678.0,138220,175974
352,1730,5540.0,140647,191102

In [54]:
# Save the DataFrame to a CSV file. 
zip_income_df.to_csv("Resources/zip_income_df.csv", index=False)